@charset "utf-8";
/* CSS Document */

h1, h2, h3, li > a {
	font-family: 'Pacifico', cursive;	
}
p, h3{
	font-family: 'Montserrat', sans-serif;
}

.contenedor marge, h3 {
	font-family: 'Montserrat', sans-serif;
	}

.marge {
	margin: 25px 0;	
}
/* principal */


/* body   */

body {
	background-color: #FFF;
}

body > div {
	position: static;
	max-width: 80%;
	margin: 0 auto;		
}


/* menú */
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #DD4144;
	text-align:center;
	z-index: 800;
	
}
nav > ul {
	margin: 4px;	
}
li {
	display: inline-block;	
	font-size: 18px;
	margin: 0 10px;
}
li > a{
	padding: 10px 14px;
	display: block;
	height: auto;
	color: white;
	opacity: 1;
	background-color: #DD4144;
	text-decoration:none;
	-webkit-transition: all 0.5s 0.2s;
	-o-transition: all 0.5s 0.2s;
	transition: all 0.5s 0.2s;
}
li >  a:hover{
	color: black;
	opacity: 0.6;
}
/*  Imagenes en movimiento*/

.imagenes-movimiento{
	margin-top: 48px;
	margin-bottom: 35px;

}

/* contenedor de imagenes*/

.contenedor {

    text-align: center;
    max-width: 98%;
    margin: 0 auto;
}

.contenedor-img {
	display: inline-block;
	max-width:30%;
	margin: 5px 35px;
		
}
.contenedor-img > a {
	display:block;	
}
.image {
	position: relative;
	max-width: 100%;
	height:auto;	
}

/* texto de la tienda */

.contenedor-texto {
	background-color: #FFF48E;
	padding: 8px 12px;
}

.contenedor-texto h3 {
	color: #FF4144;
	text-align:center;
	font-size: 23px;	
}

.contenedor-texto p {
	
    padding: 10px 20px;
    text-align: center;
    line-height: 1.5;
}

/* botonera */

.botonera {
		display:block;
		max-width: 100%;
	}

.botones {
	width: 49%;
	margin-left: 3px;
	margin-right: 2px;
	display: inline-block;

}
.botones > h3 {
	margin: 0;
		display: block;
	}
	
.a-boton {
	color: #FFF;
	display:block;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	padding: 20px; 
	background-color:#DD4144;
	opacity: 1.0;
	
	-webkit-transition: all 0.5s ease 0.2s;
	-o-transition: all 0.5s ease 0.2s;
	transition: all 0.5s ease 0.2s;
			
}
.a-boton:hover{

	color: #51B1D4;
	opacity: 0.7;
}

/* footer */
footer {
	background-color: black;
	color: yellow;
	display:flex;
}
footer p {
	margin: 5px auto;	
	font-family: 'Pacifico', cursive;
}
