@charset "utf-8";
/* CSS Document */

h1, h2, h3, li > a {
	font-family: 'Pacifico', cursive;	
}
p {
	font-family: 'Montserrat', sans-serif;
}

.marge {
	margin: 25px 0;	
}
/* principal */


/* body   */

body {
	background-color: #FFF;
}

body > div {
	position: static;
	max-width: 80%;
	margin: 0 auto;		
}


/* menú */
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #DD4144;
	text-align:center;
	z-index: 800;
}
nav > ul {
	margin: 4px;	
}
li {
	display: inline-block;	
	font-size: 18px;
	margin: 0 10px;
}
li > a{
	padding: 10px 14px;
	display: block;
	height: auto;
	color: white;
	text-decoration: none;
	-webkit-transition: all 0.5s 0.2s;
	-o-transition: all 0.5s 0.2s;
	transition: all 0.5s 0.2s;
}
li >  a:hover{
	color: black;
}
/*  Imagenes en movimiento*/

.imagenes-movimiento{
	margin-top: 48px;
	margin-bottom: 35px;

}

/* contenedor de imagenes*/

.contenedor {

    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.contenedor-img {
	display: inline-block;
	max-width:30%;
	margin: 5px 9px;
		
}
.contenedor-img > a {
	display:block;	
}
.image {
	position: relative;
	max-width: 100%;
	height:auto;	
}

/* texto de la tienda */

.contenedor-texto {
	background-color: #FFF48E;
	padding: 8px 12px;
}

.contenedor-texto h3 {
	color: #FF4144;
	text-align:center;
	font-size: 23px;	
}

.contenedor-texto p {
	
    padding: 10px 20px;
    text-align: center;
    line-height: 1.5;
}

/* botonera */

.botonera {
		display:flex;
	}

.botones {
	display: inherit;
	max-width: 45%;
}

.bt-le {

}

.bt-ri {
	float: right;
}
.a-boton {
	display:flex;
	text-decoration: none;
	font-size: 20px;
	padding: 20px; 
	margin: 0 auto;
	background-color:#FBFBE2;
	opacity: 1.0;
	
	-webkit-transition: all 0.5s ease 0.2s;
	-o-transition: all 0.5s ease 0.2s;
	transition: all 0.5s ease 0.2s;
			
}
.a-boton:hover{
	background-color: #EFEE8E;
	color: #51B1D4;
	opacity: 0.6;
}

/* footer */
footer {
	background-color: black;
	color: yellow;
	display:flex;
}
footer p {
	margin: 15px auto;	
}
